.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.mb-10 {
  margin-bottom: 10px;
}

.disabled-button {
  background-color: #fff;
}

// VUE - TRANSITIONS

.fade-down-enter-active, .fade-down-leave-active, .fade-enter-active, .fade-leave-active {
  transition: .5s;
}

.fade-leave-to {
  opacity: 0;
}

.fade-down-enter, .fade-down-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(100px);
}
