@font-face {
  font-family: 'Avenir';
  src: local('Avenir Next Rounded Std Bold'), local('Avenir-Next-Rounded-Std-Bold'),
      url('~assets/fonts/avenir/AvenirNextRoundedStd-Bold.woff2') format('woff2'),
      url('~assets/fonts/avenir/AvenirNextRoundedStd-Bold.woff') format('woff'),
      url('~assets/fonts/avenir/AvenirNextRoundedStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: local('Larsseit Bold'), local('Larsseit-Bold'),
      url('~assets/fonts/larsseit/Larsseit-Bold.woff2') format('woff2'),
      url('~assets/fonts/larsseit/Larsseit-Bold.woff') format('woff'),
      url('~assets/fonts/larsseit/Larsseit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Akkurat';
  src: url('~assets/fonts/akkurat/AkkuratPro-Regular.woff2') format('woff2'),
      url('~assets/fonts/akkurat/AkkuratPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('~assets/fonts/circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'),  url('~assets/fonts/circular/CircularStd-Black.otf')  format('opentype'),
	     url('~assets/fonts/circular/CircularStd-Black.woff') format('woff'), url('~assets/fonts/circular/CircularStd-Black.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


