@import './scss/fonts.scss';
@import './scss/variables.scss';
@import './scss/common.scss';
@import './scss//normalize.scss';
@import './scss//global-media.scss';

html, body, #__nuxt, #__layout {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
}

* {
  box-sizing: border-box;
}